.info{
    width: 90px;
    height: 36px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin:0 4px;
}
.image{
    width: 36px;
    height: 36px;
    background: #D9D9D9;
    border-radius: 15px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.myAvatar{
    position: absolute;
    width: 28px !important;
    height: 30px !important;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .table-container {
        overflow-x: auto !important; /* Tạo thanh cuộn ngang */
      }
    .image_info_arrow {
      display: none !important;
    }
    .manage_search1{
        display:block !important;
        margin-bottom: 10px !important;
    }
    .search1{
        display:flex !important;
    }
    .employee_list{
        margin-bottom: 10px;
    }
    .edit-table{
        display:block !important;
        width:100%;
    }
}





.image_info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:80%;
    height:40px;
    top:0;
    left:0;
    position: absolute;
}
.icon{
    position:absolute;
    width:25px;
    height:25px;
    right:10px;
    top: 14px;
    color: #af9e9e;
}

.edit-item{
    width:90%;
    background: #EDE9FE;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:0  auto;
    margin-bottom: 5px;
    position: relative;
    padding:5px;
    cursor: pointer;
    color:black;
}
a {
    text-decoration: none;
  }
.manage-user{
    background: #9CA3AF !important;
}
.icon-1{
    width:20px;
    height:20px;
}

.icon-2{
    color:black;
}
.manage_search1{
    display:flex;
    justify-content: space-between;
    width:100%;
    height: auto;
    margin-bottom: 30px;
    margin-top:10px;
}
.employee_list{
    color: rgba(0, 0, 0, 0.7);
    background-color: #D9D9D9;
    width:16%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;
    min-width: 100px;
}
.search1{
    height:100%;
    width:50%;
    display: flex;
    justify-content: space-between;
}

.search1 button {
    max-width: 30%;
}
.fill_telephone1{
    width:32%;
    min-width: 100px;
    padding: 12px 10px; line-height: 28px;
    border: solid 1px #111;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}
.editinfo1{
    width:30px;
    height:30px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding:2px;
    cursor: pointer;
    margin-right: 1vw;
}
.logout{
    width:30px;
    height:30px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding:2px;
    cursor: pointer;
}


.image_notify1{
    display:flex;
    justify-content: right;
    width:10vw;
    margin-right: 20px;
}




.dieu_chinh{
    padding:5px;
    margin:0px 15px 5px 15px;
    display: inline-block !important;
}
.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image_info_arrow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:100%;
    height:150px;
}
.edit-right{
    display:block !important;
    position:relative;
    min-height:100vh !important;
}
.paging{
    display:flex;
    position:absolute;
    width: 100%;
    justify-content: center;
    bottom:2%;
}
.paging button.current {
    background-color: #9CA3AF !important;
    color: white;
  }