.background{
    width:100vw;
    height:100vh;
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1001;
    position: fixed;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.warning{
    width:25vw;
    height:auto;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 5px;
    color:black
}
.edit-btn{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}
.btn{
    padding: 8px 25px;
}